@{
    ViewData["Title"] = "User Item Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>Here is the User Item Create</p>

<!-- Add your HTML code to display the list here -->
