@{
    ViewData["Title"] = "UserItemDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
  <div class="col-3">
    <!-- Tab navs -->
    <div
      class="nav flex-column nav-pills text-center"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical">
      <a
        class="nav-link active"
        id="v-pills-link1-tab"
        data-mdb-pill-init
        href="#v-pills-link1"
        role="tab"
        aria-controls="v-pills-link1"
        aria-selected="true"
        >๑.องค์ประกอบปางช้าง</a
      >
      <a
        class="nav-link"
        id="v-pills-link2-tab"
        data-mdb-pill-init
        href="#v-pills-link2"
        role="tab"
        aria-controls="v-pills-link2"
        aria-selected="false"
        >๒.การจัดการปางช้าง</a
      >
      <a
        class="nav-link"
        id="v-pills-link3-tab"
        data-mdb-pill-init
        href="#v-pills-link3"
        role="tab"
        aria-controls="v-pills-link3"
        aria-selected="false"
        >๓.บุคลากร</a
      >
      <a
        class="nav-link"
        id="v-pills-link4-tab"
        data-mdb-pill-init
        href="#v-pills-link4"
        role="tab"
        aria-controls="v-pills-link4"
        aria-selected="false"
        >๔. สุขภาพช้าง</a
      >
         <a
        class="nav-link"
        id="v-pills-link5-tab"
        data-mdb-pill-init
        href="#v-pills-link5"
        role="tab"
        aria-controls="v-pills-link5"
        aria-selected="false"
        >๕. สวัสดิภาพสัตว์</a
      >
         <a
        class="nav-link"
        id="v-pills-link6-tab"
        data-mdb-pill-init
        href="#v-pills-link6"
        role="tab"
        aria-controls="v-pills-link6"
        aria-selected="false"
        >๖. สิ่งแวดล้อม</a
      >
         <a
        class="nav-link"
        id="v-pills-link7-tab"
        data-mdb-pill-init
        href="#v-pills-link7"
        role="tab"
        aria-controls="v-pills-link7"
        aria-selected="false"
        >๗. การจัดการด้านความปลอดภัย</a
      >
         <a
        class="nav-link"
        id="v-pills-link8-tab"
        data-mdb-pill-init
        href="#v-pills-link8"
        role="tab"
        aria-controls="v-pills-link8"
        aria-selected="false"
        >๘. การบันทึกข้อมูล</a
      >
    </div>
    <!-- Tab navs -->
  </div>

  <div class="col-9">
    <!-- Tab content -->
    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-pills-link1"
        role="tabpanel"
        aria-labelledby="v-pills-link1-tab">
        <h4>๑.๑สถานที่ตั้ง</h4>
          <div>
            <p class="font-weight-bold">๑.๑.๑ ตั้งอยู่ในสภาพแวดล้อมที่ไม่เสี่ยงต่อการปนเปื้อนของอันตรายทางกายภาพ เคมี และชีวภาพที่มีผลกระทบต่อสุขภาพและสวัสดิภาพสัตว์หรือมีมาตรการป้องกันที่เหมาะสม</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๑.๒ ตั้งอยู่ในทำเลที่มีน้ำสะอาด ใช้เพียงพอตลอดปี<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๑.๓ มีเส้นทางคมนาคม เข้าถึงปางช้าง ที่สามารถขนส่งช้าง อาหารสัตว์ เวชภัณฑ์และอุปกรณ์ต่างๆ</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๑.๔ พื้นที่ที่ไม่ส่งผลกระทบต่อป่าต้นน้ำ<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๒.๑ มีขนาดพื้นที่ของปางช้าง ที่เหมาะสม กับลักษณะกิจกรรมและจำนวนช้าง ตามประเภทของปางช้างและกายภาพทางพื้นที่ของปางช้างโดย<span style="color:red">*(เลือกอย่างน้อย 1 หัวข้อ)</span></p>
                <p class="font-weight-bold">ประเภทของปางช้างตามกิจกรรมได้แก่</p>
              <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    ปางช้างแบบดั้งเดิม
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
   ปางช้างแบบท่องเที่ยวเชิงนิเวศ
  </label>
</div>
               <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
  <label class="form-check-label" for="flexRadioDefault3">
   ปางช้างพิการหรือชรา
  </label>
</div>
                  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
  <label class="form-check-label" for="flexRadioDefault4">
   ปางช้างแบบผสมผสาน
  </label>
</div>
                <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
               
          <br/>
                <p class="font-weight-bold">ประเภทปางช้างตามจำนวนช้าง</p>
              <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault5">
  <label class="form-check-label" for="flexRadioDefault5">
    ปางช้างขนาดเล็กไม่เกิน ๑๐ เชือก
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault6" checked>
  <label class="form-check-label" for="flexRadioDefault6">
   ปางช้างขนาดกลางไม่เกิน ๑๑-๓๐ เชือก
  </label>
</div>
               <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault7" checked>
  <label class="form-check-label" for="flexRadioDefault7">
   ปางช้างขนาดใหญ่ตั้งแต่ ๓๑ เชือก ขึ้นไป
  </label>
</div>
                <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">มีการวางผังปางช้างที่เอื้อต่อการปฏิบัติงานที่ถูกสุขลักษณะ<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">๑.๒.๓ แยกพื้นที่ปฏิบัติงานเป็นสัดส่วน (๑)สถานที่พักช้าง <span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๒.๓ แยกพื้นที่ปฏิบัติงานเป็นสัดส่วน (๒)พื้นที่พักผ่อนสำหรับช้าง <span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๒.๓ แยกพื้นที่ปฏิบัติงานเป็นสัดส่วน (๓)พื้นที่เก็บอาหาร <span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๒.๓ แยกพื้นที่ปฏิบัติงานเป็นสัดส่วน (๔)พื้นที่เก็บอุปกรณ์ <span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">๑.๒.๓ แยกพื้นที่ปฏิบัติงานเป็นสัดส่วน (๕)พื้นที่รวบรวมขยะและมูลช้าง<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">๑.๓สถานที่พักช้างและพื้นที่พักผ่อนสำหรับช้าง</p>
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๑.๓.๑ มีสถานที่พักช้างเพื่อรอให้บริการหรือพักจากการบริการ<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
            <div>
            <p class="font-weight-bold">๑.๓.๒ มีพื้นที่พักผ่อนสำหรับช้างเพื่อใช้พักผ่อน ในช่วงที่ไม่มีงานบริการหรือช่วงกลางคืน<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-link2"
        role="tabpanel"
        aria-labelledby="v-pills-link2-tab">
                 <h4>๒.๒ การจัดการอาหารและน้ำ</h4>
         <div>
            <p class="font-weight-bold">๒.๒.๑ ให้ช้างได้รับอาหารที่มีคุณภาพปลอดภัยและเหมาะสมสำหรับการเลี้ยงช้างโดยเป็นไปตาม พระราชบัญญัติควบคุมคุณภาพอาหารสัตว์ พ.ศ.๒๕๕๘<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๒.๒.๒ มีสถานที่เก็บอาหารแยกเป็นสัดส่วนและเก็บอาหารในสภาพที่ป้องกันการเสื่อมสภาพและการปนเปื้อน<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">๒.๒.๓ มีการจัดการให้ช้างทุกชือกได้กินอาหารและน้ำอย่างเพียงพอต่อ 
ความต้องการของช้าง  รวมทั้งได้รับอาหารที่หลากหลายเช่น   อาหารหยาบ  ผลไม้หรืออาหารเสริม
<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
            <h4>๒.๓ การจัดการอาคารและอุปกรณ์</h4>
          <div>
            <p class="font-weight-bold">๒.๓.๑ ทำความสะอาดอาคาร บริเวณโดยรอบและอุปกรณ์อย่างสม่ำเสมอเพื่อลดการสะสมของมูลช้างและของเสียซึ่งเป็นแหล่งของเชื้อเกิดโรค
<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">๒.๓.๒ บำรุงรักษาอาคารและอุปกรณ์ให้อยู่ในสภาพดีและปลอดภัยต่อช้างและบุคลากร</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
            <h4>๒.๔ การจัดการแหล่งที่มาของช้าง</h4>
          <div>
            <p class="font-weight-bold">๒.๔.๑ ช้างบ้านทุกเชือกต้องมีหลักฐานประจำตัวช้างที่ออกให้โดยหน่วยงานที่รับผิดชอบ ตามพระราชบัญญัติสัตว์พาหนะ พ.ศ.๒๔๘๒เช่นตั๋วพิมพ์รูปพรรณ บัญชีลูกครอก
<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-link3"
        role="tabpanel"
        aria-labelledby="v-pills-link3-tab">
         <div>
            <p class="font-weight-bold">๓.๑ มีการจัดแบ่งหน้าที่และความรับผิดชอบของบุคคลอย่างชัดเจน โดยคำนึงถึงจำนวนของช้างที่เลี้ยงและประเภทของปางช้าง</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">๓.๒ มีสัตวแพทย์ผู้ควบคุมปางช้างกำกับดูแลด้านสุขภาพช้าง<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๓.๓ ควาญช้างที่ทำหน้าที่เลี้ยงช้างต้องมีความรู้ ได้รับการฝึกอบรมหรือฝึกปฏิบัติเกี่ยวกับการเลี้ยงช้าง การบังคับช้างและความเข้าใจพฤติกรรมของช้าง รวมทั้งมีความรับผิดชอบดูแลในเรื่องการจัดการอาหาร น้ำและที่พักเพื่อให้จัดการเลี้ยงช้างได้อย่างถูกต้อง</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๓.๔ บุคลากรอื่นๆที่ให้บริการเช่น เจ้าหน้าที่ประชาสัมพันธ์ เจ้าหน้าที่บริการ พนักงานรักษาความปลอดภัย ต้องมีความรู้ทั่วไปเกี่ยวกับช้าง มีทักษะในการให้บริการ ตลอดจนการดูแลและช่วยเหลือผู้มาใช้บริการ</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๓.๕ บุคลากรทุกคนในปางช้างมีสุขลักษณะส่วนบุคคลที่ดี และได้รับการตรวจสุขภาพประจำปี โดยเฉพาะอย่างยิ่งโรคสัตว์สู่คน</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๓.๖ จัดหาอุปกรณ์เพื่อความปลอดภัยของควาญช้าง และมีการทำประกันอุบัติเหตุสำหรับควาญช้าง</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-link4"
        role="tabpanel"
        aria-labelledby="v-pills-link4-tab">
        <h4>๔.๑ การป้องกันและควบคุมโรค</h4>
         <div>
            <p class="font-weight-bold">๔.๑.๑ มีการสังเกตความเป็นอยู่และสุขภาพของช้างทุกวัน หากพบความผิดปกติให้แจ้งบุคลากรที่เกี่ยวข้องทราบหรือปรึกษาสัตวแพทย์ เพื่อพิจารณาดำเนินการแก้ไขอย่างทันท่วงที</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
            <div>
            <p class="font-weight-bold">๔.๑.๒ มีการตรวจสุขภาพของช้างประจําปี อย่างน้อยปีละ 1 ครั้ง<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๔.๑.๓ มีการป้องกันและควบคุมโรค เช่น ให้ช้างได้รับการฉีดวัคซีนป้องกันโรค รวมทั้งมีการกําจัดปรสิตภายในและภายนอก ที่เหมาะสม โดยอยู่ภายใต้การควบคุมดูแลของ
สัตวแพทย์ หรือผู้ที่ได้รับมอบหมายจากสัตวแพทย์ 
<span style="color:red">*</span></p>
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๔.๑.๔ มีมาตรการเฝ้าระวังและป้องกันวัณโรค</p>
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
              <div>
            <p class="font-weight-bold">๔.๑.๕ มีมาตรการควบคุมสัตว์พาหะนําโรค</p>
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๔.๑.๖ มีการกักกันโรคสําหรับช้างที่นําเข้าใหม่ และแยกช้างป่วยออกจากพื้นที่เลี้ยงช้างปกติ<span style="color:red">*</span></p>
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <div>
            <p class="font-weight-bold">๔.๑.๗ กรณีที่เกิดโรคระบาดหรือสงสัยว่าเกิดโรคระบาดต้องปฏิบัติตาม 
พระราชบัญญัติโรคระบาดสัตว์ พ.ศ. 2558 และคําแนะนําของกรมปศุสัตว์<span style="color:red">*</span></p>
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
          <div>
            <p class="font-weight-bold">ช้างทุกเชือกมีสมุดประจําตัวช้าง ซึ่งประกอบด้วยประวัติช้าง 
ทะเบียนประจําตัวช้าง ไมโครชิพ ประวัติการตกมัน การรักษา พยาบาล และการฉีดวัคซีน
รวมทั้งประวัติการผสมพันธุ์ และการตกลูก
<span style="color:red">*</span></p>
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
           <h4>๔.๒ การบําบัดโรคสัตว์</h4>
         <div>
            <p class="font-weight-bold">๔.๒.๑ การบําบัดโรคสัตว์ต้องอยู่ภายใต้การกำกับ ดูแลของผู้ประกอบวิชาชีพการสัตวแพทย์ ตามพระราชบัญญัติวิชาชีพ การสัตวแพทย์ พ.ศ.2545<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
      </div>
        <div
        class="tab-pane fade"
        id="v-pills-link5"
        role="tabpanel"
        aria-labelledby="v-pills-link5-tab">
             <h4>๕.๑ ดูแลและปฏิบัติต่อช้างให้มีความเป็นอยู่ตามหลักสวัสดิภาพสัตว์ ๕ ประการ</h4>
         <div>
            <p class="font-weight-bold">๕.๑ (๑) มีอิสระจากความหิว กระหาย (อ้างอิงตามข้อ ๑.๑.๒ และ ๒.๒.๓) <span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
             <div>
            <p class="font-weight-bold">๕.๑ (๒) มีอิสระจากความไม่สะดวกสบายอันเนื่องมาจากสภาวะแวดล้อม (อ้างอิงตามข้อ ๑.๑.๑ , ๑.๓.๑, ๑.๓.๒, ๒.๓.๑ และ ๒.๓.๒) <span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
            <div>
            <p class="font-weight-bold">๕.๑(๓)มีอิสระจากความเจ็บปวด การบาดเจ็บและเป็นโรค (อ้างอิงตามข้อ
๔.๑.๑, ๔.๑.๒, ๔.๑.๓,๔.๔.๔, ๔.๑.๕ และ๔.๑.๖) <span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
            <div>
            <p class="font-weight-bold">๕.๑ (๔) มีอิสระจากความกลัวและความทุกข์ทรมาน (อ้างอิงตามข้อ ๓.๓)</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
             <div>
            <p class="font-weight-bold">๕.๑ (๕) มีอิสระในการแสดงพฤติกรรมตามปกติของช้าง (อ้างอิงตามข้อ ๑.๒.๑, 
๑.๓.๑, ๑.๓.๒ และ ๗.๒)<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
              <div>
            <p class="font-weight-bold">๕.๒ ต้องดูแลและปฏิบัติตือช้างให้มีความเป็นอยู่ตามพระราชบัญญัติป้องกันการทารุณกรรมและการจัดสวัสดิภาพสัตว์ พ.ศ. 2557<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
      </div>
        <div
        class="tab-pane fade"
        id="v-pills-link6"
        role="tabpanel"
        aria-labelledby="v-pills-link6-tab">
         <div>
            <p class="font-weight-bold">๖.๑ กําจัดซาก ขยะ ของเสียและน้ำเสีย โดยวิธีที่เหมาะสมตามกฎหมายที่เกี่ยวข้อง</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />
            <div>
            <p class="font-weight-bold">๖.๒ มีมาตรการจัดการมูลช้างไม่ให้กระทบต่อสิ่งแวดล้อม เช่น มีลานกักมูล วิธีการรวบรวมมูลอื่นๆ หรือมีการเก็บมูลช้างในแหล่งน้ำ</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />

      </div>
        <div
        class="tab-pane fade"
        id="v-pills-link7"
        role="tabpanel"
        aria-labelledby="v-pills-link7-tab">
 <div>
            <p class="font-weight-bold">๗.๑ มีบุคลากรและป้ายหรือเอกสาร ให้คําแนะนําเรื่องความปลอดภัยในการเข้าหาช้าง การให้อาหารช้าง การนั่งบนหลังช้าง และการปฏิสัมพันธ์ใกล้ชิดกับช้าง รวมทั้งข้อมูลเรื่องพฤติกรรมของช้าง<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />
            <div>
            <p class="font-weight-bold">๗.๒ ควาญช้างมีการตรวจสอบพฤติกรรมของช้างก่อนเริ่มให้บริการแก่ผู้มาใช้บริการทุกครั้ง</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />
            <div>
            <p class="font-weight-bold">๗.๓ มีการจัดการด้านความปลอดภัย เช่น การตรวจสอบอุปกรณ์ที่นั่งบนหลังช้างทุกครั้งที่ออกปฏิบัติงานเพื่อความปลอดภัยของผู้มาใช้บริการ หรือจัดให้มีอุปกรณ์ควบคุมบังคับช้างที่เหมาะสม<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />
             <div>
            <p class="font-weight-bold">๗.๔ มีรั้วกั้นหรือสิ่งกีดขวางระหว่างผู้มาใช้บริการกับช้าง ขณะที่ชมการแสดงและให้อาหารช้าง<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />
             <div>
            <p class="font-weight-bold">๗.๕ มีแผนและฝึกซ้อมการปฏิบัติตามแผนในการจัดการภาวะฉุกเฉินในปางช้าง เช่น การช่วยเหลือผู้ประสบอุบัติเหตุที่เกิดจากช้างการควบคุมช้างตกมันหรือช้างอาละวาด</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />
            <div>
            <p class="font-weight-bold">๗.๖ มีสถานที่ สำหรับขึ้น-ลงหลังช้างที่มั่นคง แข็งแรง และปลอดภัย<span style="color:red">*</span></p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
             <hr class="hr" />
      </div>
        <div
        class="tab-pane fade"
        id="v-pills-link8"
        role="tabpanel"
        aria-labelledby="v-pills-link8-tab">
             <h4>๘.๑ มีการบันทึกข้อมูลที่สําคัญ ดังนี้</h4>
         <div>
            <p class="font-weight-bold">๘.๑.๑ ประวัติบุคลากร ประวัติการฝากอบรมหรือฝึกปฏิบัติ และผลการตรวจสุขภาพประจำปี</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
             <div>
            <p class="font-weight-bold">๘.๑.๒ แหล่งที่มาของอาหารและน้ำ</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
             <div>
            <p class="font-weight-bold">๘.๑.๓ การใช้สารเคมี ยาฆ่าเชื้อ หรือวัตถุอันตราย</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
             <div>
            <p class="font-weight-bold">๘.๑.๔ การใช้ยาสัตว์และอาหารเสริม</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
             <div>
            <p class="font-weight-bold">๘.๑.๕ บันทึกใบอนุญาตเคลื่อนย้ายช้าง</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
             <div>
            <p class="font-weight-bold">๘.๒ ให้เก็บรักษาบันทึกข้อมูลเป็นเวลาอย่างน้อย ๓ ปี</p>
              
              <label for="formFileMultiple" class="form-label">เลือกภาพถ่ายที่ต้องการ</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <input type="text" class="mt-2 form-control" placeholder="ข้อความอธิบายภาพถ่าย" value="" />
          </div>
          <hr class="hr" />
      </div>
    </div>
    <!-- Tab content -->
  </div>
</div>

<script>
</script>
