@{
    ViewData["Title"] = "UserItemCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["UserItemCreate"]</h1>
<section class="pt-5 vh-100">
    <div style="padding-bottom: 30px !important;" class="container-fluid h-custom">
        <p class="h3">ระบบจัดเก็บข้อมูลปางช้าง</p>
        <div class="pt-2 row d-flex justify-content-center align-items-center h-100">
      
        </div>
    </div>
    <div style="padding-top: 20px !important;" class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <div class="text-white mb-3 mb-md-0">Copyright © 2024. All rights reserved.</div>
    </div>
</section>

<script>

</script>
